<!--  render the photos-->
<% @pictures.each do | picture | %>
  <%=link_to(image_tag("#{picture.images.thumbnail.url}", :class => 'image',  data: {id: "#{picture.id}", url: "#{picture.images.thumbnail.url}"})) %>
<% end %>
  <!-- search bar -->
<%= form_tag '/', method: :get do %>
  <%= label_tag( "Search:") %><br><br>
  <!--  saving the tag_name in here-->
  <%= text_field_tag :tag_name, nil, :required => true%><br><br>
  <%= date_field_tag :start_date %> <br><br>
  <%= date_field_tag :end_date %><br><br>
  <%= submit_tag "Search" %>
<% end %>
<!--  if the user is logged in, drop down menu will show up-->
<% if current_user %>
  <p id="drop-down-menu"> Select a gallery in this drop down menu, then click on the picture you would like to add </p> <br><br>
  <%= select('name','selected_name', @gallery) %>
<% end %>
